<?xml version="1.0" encoding="UTF-8"?>

<!-- Dieses WXS-Skript basiert auf dem Beispielscript unter https://www.firegiant.com/wix/tutorial/net-and-net/bootstrapping/ -->
  
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!-- vorübergehend entfernt: Condition="VersionNT = 601 OR VersionNT = 602 OR VersionNT = 603" -->
  
	<Bundle Name="WiX_Test3"
          Version="1.0.0.0"
          Manufacturer="RalfSasse"
          UpgradeCode="3DADF418-A9F6-4331-BD9E-D88764881FED">

    <!-- Einfügen einer eigenen EULA (als RTF-Dokument) und eines eigenen Logos (als PNG-Datei) -->
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="customEula.rtf"
                                              LogoFile="elementsystems_logo.png" />
    </BootstrapperApplicationRef>
    

    <util:RegistrySearch Root="HKLM" 
                         Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" 
                         Value="Version" 
                         Variable="NetFramework48Installed" />

    <!-- Diese Anweisung basiert auf https://stackoverflow.com/questions/59365880/how-to-detect-net-core-3-1-windows-desktop-app-runtime-is-installed -->

    <util:DirectorySearch Id="NetCorex86Installed" 
                          Variable="NetCorex86Installed"
                          Path="[ProgramFilesFolder]dotnet\shared\Microsoft.WindowsDesktop.App\3.1.14"
                          Result="exists" />
    
    <util:DirectorySearch Id="NetCorex64Installed" 
                          Variable="NetCorex64Installed"
                          Path="[ProgramFiles64Folder]dotnet\shared\Microsoft.WindowsDesktop.App\3.1.14"
                          Result="exists" />
       
    <Chain>

      <!-- Installation von .NET Framework 4.8 (falls noch nicht vorhanden). Installationsdatei enthält 32- und 64-Bit-Version -->      
      
      <ExePackage Id="Net48" 
                  Name="Microsoft .NET Framework 4.8 Setup" 
                  Cache="no" 
                  Compressed="yes" 
                  PerMachine="yes" 
                  Permanent="yes" 
                  Vital="yes" 
                  InstallCommand="/q"
                  SourceFile="ndp48-x86-x64-allos-enu.exe"
                  DetectCondition="NetFramework48Installed"
                  InstallCondition="(VersionNT &lt; 600) AND (NetFramework48Installed &lt; 528040)" />

      <!-- Diese Anweisung basiert auf https://stackoverflow.com/questions/59365880/how-to-detect-net-core-3-1-windows-desktop-app-runtime-is-installed -->

      <!-- Installation der 32-Bit-Version von .NET Core 3.1.14 (falls noch nicht vorhanden), wenn der Zielrechner mit einem 32-Bit-Windows läuft -->      

      <ExePackage Id="NetCore3114x86"
                  Name="windowsdesktop-runtime-3.1.14-win-x86.exe"
                  Cache="no"
                  Compressed="yes"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  InstallCommand="/quiet /passive"
                  SourceFile="windowsdesktop-runtime-3.1.14-win-x86.exe"
                  DetectCondition="NetCorex86Installed"
                  InstallCondition="(NOT VersionNT64) AND (NOT NetCorex86Installed)" />

      <!-- Installation der 64-Bit-Version von .NET Core 3.1.14, (falls noch nicht vorhanden), wenn der Zielrechner mit einem 64-Bit-Windows läuft -->      

      <ExePackage Id="NetCore3114x64"
                  Name="windowsdesktop-runtime-3.1.14-win-x64.exe"
                  Cache="no"
                  Compressed="yes"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  InstallCommand="/quiet /passive"
                  SourceFile="windowsdesktop-runtime-3.1.14-win-x64.exe"
                  DetectCondition="NetCorex64Installed"
                  InstallCondition="(VersionNT64) AND (NOT NetCorex64Installed)" />

      <!--        InstallCondition="(VersionNT64) AND (NOT NetCoreInstalled)" />   -->
      
      <RollbackBoundary />

      <MsiPackage Id="WiX_Test2" 
                  SourceFile="WiX-Test2.msi" 
                  DisplayInternalUI="yes" 
                  Compressed="yes" 
                  Vital="yes" />
    
    </Chain>
  
  </Bundle>
</Wix>
