<?xml version="1.0" encoding="UTF-8"?>

<!-- Dieses WXS-Skript basiert auf dem Beispielscript unter https://www.firegiant.com/wix/tutorial/net-and-net/bootstrapping/ -->
  
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
<!-- vorübergehend entfernt: Condition="VersionNT = 601 OR VersionNT = 602 OR VersionNT = 603" -->
  
	<Bundle Name="WiX_Test3" 
          Version="1.0.0.0" 
					Manufacturer="RalfSasse" 
					UpgradeCode="3DADF418-A9F6-4331-BD9E-D88764881FED">
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <util:RegistrySearch Root="HKLM" 
                         Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" 
                         Value="Version" 
                         Variable="Net4FullVersion" />
    
    <util:RegistrySearch Root="HKLM" 
                         Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" 
                         Value="Version" 
                         Variable="Net4x64FullVersion" 
                         Win64="yes" />

    <!-- Diese Anweisung basiert auf https://stackoverflow.com/questions/59365880/how-to-detect-net-core-3-1-windows-desktop-app-runtime-is-installed -->

    <util:DirectorySearch Id="NetCoreInstalled" 
                          Variable="NetCoreInstalled"
                          Path="[ProgramFilesFolder]dotnet\shared\Microsoft.WindowsDesktop.App\3.1.14"
                          Result="exists" />

    <Chain>

      <ExePackage Id="Net48" 
                  Name="Microsoft .NET Framework 4.8 Setup" 
                  Cache="no" 
                  Compressed="yes" 
                  PerMachine="yes" 
                  Permanent="yes" 
                  Vital="yes" 
                  InstallCommand="/q"
                  SourceFile="ndp48-x86-x64-allos-enu.exe"
                  DetectCondition="Net4FullVersion AND (NOT VersionNT64 OR Net4x64FullVersion)"
                  InstallCondition="(VersionNT &lt; 600 OR VersionNT64 &lt; 600) AND (NOT (Net4FullVersion OR Net4x64FullVersion))" />

      <!-- Diese Anweisung basiert auf https://stackoverflow.com/questions/59365880/how-to-detect-net-core-3-1-windows-desktop-app-runtime-is-installed -->

      <ExePackage Id="NetCore3114x86"
                  Name="windowsdesktop-runtime-3.1.14-win-x86.exe"
                  Cache="no"
                  Compressed="yes"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  InstallCommand="/quiet /passive"
                  SourceFile="windowsdesktop-runtime-3.1.14-win-x86.exe"
                  DetectCondition="NetCoreInstalled"
                  InstallCondition="(VersionNT64) AND (NOT NetCoreInstalled)" />

      <RollbackBoundary />

      <MsiPackage Id="WiX_Test2" 
                  SourceFile="WiX-Test2.msi" 
                  DisplayInternalUI="yes" 
                  Compressed="yes" 
                  Vital="yes" />
    
    </Chain>
  
  </Bundle>
</Wix>
